<div class="preferences-div">
    <h3>Add song to playlist</h3>
    <div class="add-song-div">
        <mat-form-field class="add-song-autocomplete-field">
            <mat-label>Artist</mat-label>
            <input type="text" matInput [formControl]="artistControl" [matAutocomplete]="artistAuto"
                placeholder="Select an artist">
            <button mat-icon-button matSuffix *ngIf="artistControl.value" (click)="clearArtistSelection($event)"
                aria-label="Clear">
                <mat-icon>close</mat-icon>
            </button>
            <mat-autocomplete #artistAuto="matAutocomplete" [displayWith]="displayArtist"
                (optionSelected)="artistSelectHandler($event.option.value)">
                <mat-option *ngFor="let artist of filteredArtists | async" [value]="artist">
                    {{artist.ArtistName}}
                </mat-option>
            </mat-autocomplete>
        </mat-form-field>

        <mat-form-field class="add-song-autocomplete-field">
            <mat-label>Song</mat-label>
            <input type="text" matInput [formControl]="songControl" [matAutocomplete]="songAuto"
                placeholder="Select a song">
            <button mat-icon-button matSuffix *ngIf="songControl.value" (click)="clearSongSelection($event)"
                aria-label="Clear">
                <mat-icon>close</mat-icon>
            </button>
            <mat-autocomplete #songAuto="matAutocomplete" [displayWith]="displaySong"
                (optionSelected)="songSelectHandler($event.option.value)">
                <mat-option *ngFor="let song of filteredSongs | async" [value]="song">
                    {{song.TrackName}}
                </mat-option>
            </mat-autocomplete>
        </mat-form-field>
        <button mat-raised-button class="add-song-btn" color="primary" (click)="addSongToPreferences()">Add</button>
    </div>
</div>