<div class="main-container">
  <h1>Welcome!</h1>
  <h2>This is the music recommendation system. Choose what you like or what you want to explore</h2>

  <div class="content-div">
    <div class="playlist-div">
      <app-playlist-table></app-playlist-table>
      <app-add-song></app-add-song>
    </div>
    <div class="criterias-div">
      <app-criterias-list></app-criterias-list>
    </div>
  </div>
  <div class="recommendation-btn-div">
    <button mat-raised-button color="primary">Get Recommendations</button>
  </div>
</div>