<div class="main-container">
  <h1>Welcome!</h1>
  <h2>This is the music recommendation system. Choose what you like or what you want to explore</h2>

  <div class="content-div">
    <div class="playlist-div">
      <app-playlist-table title="Playlist Songs" [songs]="choices$ | async" [showDeleteButton]="true" (delete)="removeSongFromPlaylist($event)"></app-playlist-table>
      <button class="clear-playlist-btn" mat-raised-button (click)="clearPlaylist()" color="warn">Clear Playlist</button>
      <app-add-song></app-add-song>
    </div>
    <div class="criterias-div">
      <app-playlist-table title="Recommendations" [songs]="recommendations$ | async"></app-playlist-table>
    </div>
  </div>
  <div class="recommendation-btn-div">
    <button mat-raised-button (click)="getRecommendations()" color="primary">Get Recommendations</button>
  </div>
</div>